[submodule "robot_ws_ros2/src/included_external_packages/nmea_msgs"]
	path = robot_ws_ros2/src/included_external_packages/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs.git
[submodule "robot_ws_ros2/src/included_external_packages/zed-ros2-wrapper"]
	path = robot_ws_ros2/src/included_external_packages/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "robot_ws_ros2/src/included_external_packages/rplidar_ros"]
	path = robot_ws_ros2/src/included_external_packages/rplidar_ros
	url = https://github.com/allenh1/rplidar_ros.git
[submodule "robot_ws_ros2/src/included_external_packages/laser_scan_merger"]
	path = robot_ws_ros2/src/included_external_packages/laser_scan_merger
	url = git@github.com:Noceo200/laser_scan_merger.git
[submodule "robot_ws_ros2/src/included_external_packages/aws-robomaker-small-warehouse-world"]
	path = robot_ws_ros2/src/included_external_packages/aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
	branch = ros2
[submodule "robot_ws_ros2/src/included_external_packages/multi-laserscan-toolbox-ros2"]
	path = robot_ws_ros2/src/included_external_packages/multi-laserscan-toolbox-ros2
	url = git@github.com:Noceo200/multi-laserscan-toolbox-ros2.git
[submodule "robot_ws_ros2/src/included_external_packages/depth-filter-scan-converter"]
	path = robot_ws_ros2/src/included_external_packages/depth-filter-scan-converter
	url = git@github.com:Noceo200/depth-filter-scan-converter.git
[submodule "robot_ws_ros2/src/included_external_packages/DynamixelSDK"]
	path = robot_ws_ros2/src/included_external_packages/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = humble-devel
[submodule "robot_ws_ros2/src/included_external_packages/triorb-core"]
	path = robot_ws_ros2/src/included_external_packages/triorb-core
	url = https://github.com/TriOrb-Inc/triorb-core.git
