<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="call_m_arm">
   <!-- robot name parameter -->
   <xacro:arg name="name" default="ur"/>
   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <!-- possible 'ur_type' values: ur3, ur3e, ur5, ur5e, ur10, ur10e, ur16e, ur20, ur30 -->
   <!-- the default value should raise an error in case this was called without defining the type -->
   <xacro:arg name="ur_type" default="ur5e"/>

   <!-- parameters -->
   <xacro:arg name="tf_prefix" default="/ur5e/" />
   <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   <!-- ros2_control related parameters -->
   <xacro:arg name="headless_mode" default="false" />
   <xacro:arg name="robot_ip" default="0.0.0.0" />
   <xacro:arg name="script_filename" default=""/>
   <xacro:arg name="output_recipe_filename" default=""/>
   <xacro:arg name="input_recipe_filename" default=""/>
   <xacro:arg name="reverse_ip" default="0.0.0.0"/>
   <xacro:arg name="script_command_port" default="50004"/>
   <xacro:arg name="reverse_port" default="50001"/>
   <xacro:arg name="script_sender_port" default="50002"/>
   <xacro:arg name="trajectory_port" default="50003"/>
   <!--   tool communication related parameters-->
   <xacro:arg name="use_tool_communication" default="false" />
   <xacro:arg name="tool_voltage" default="0" />
   <xacro:arg name="tool_parity" default="0" />
   <xacro:arg name="tool_baud_rate" default="115200" />
   <xacro:arg name="tool_stop_bits" default="1" />
   <xacro:arg name="tool_rx_idle_chars" default="1.5" />
   <xacro:arg name="tool_tx_idle_chars" default="3.5" />
   <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
   <xacro:arg name="tool_tcp_port" default="54321" />

     <!-- Simulation parameters -->
   <xacro:arg name="use_fake_hardware" default="false" />
   <xacro:arg name="fake_sensor_commands" default="false" />
   <xacro:arg name="sim_gazebo" default="false" />
   <xacro:arg name="sim_ignition" default="false" />
   <xacro:arg name="simulation_controllers" default="" />

   <!-- initial position for simulations (Fake Hardware, Gazebo, Ignition) -->
   <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>

   <!-- convert to property to use substitution in function -->
   <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <!-- Create the box link -->
  <link name="box-link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.8 0.6 0.64"/> <!-- 80x60x64 cm in meters -->
        </geometry>
        <material name="Grey">
            <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.8 0.6 0.64"/>
        </geometry>
    </collision>
    <inertial>
        <mass value="5.0"/> <!-- Adjust mass as needed -->
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/> <!-- Adjust inertia as needed -->
    </inertial>
  </link>

   <!-- arm -->
   <xacro:ur_robot
     name="$(arg name)"
     tf_prefix="$(arg tf_prefix)"
     parent="box-link"
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     use_fake_hardware="$(arg use_fake_hardware)"
     fake_sensor_commands="$(arg fake_sensor_commands)"
     sim_gazebo="$(arg sim_gazebo)"
     sim_ignition="$(arg sim_ignition)"
     headless_mode="$(arg headless_mode)"
     initial_positions="${xacro.load_yaml(initial_positions_file)}"
     use_tool_communication="$(arg use_tool_communication)"
     tool_voltage="$(arg tool_voltage)"
     tool_parity="$(arg tool_parity)"
     tool_baud_rate="$(arg tool_baud_rate)"
     tool_stop_bits="$(arg tool_stop_bits)"
     tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
     tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
     tool_device_name="$(arg tool_device_name)"
     tool_tcp_port="$(arg tool_tcp_port)"
     robot_ip="$(arg robot_ip)"
     script_filename="$(arg script_filename)"
     output_recipe_filename="$(arg output_recipe_filename)"
     input_recipe_filename="$(arg input_recipe_filename)"
     reverse_ip="$(arg reverse_ip)"
     script_command_port="$(arg script_command_port)"
     reverse_port="$(arg reverse_port)"
     script_sender_port="$(arg script_sender_port)"
     trajectory_port="$(arg trajectory_port)"
     >
     <origin xyz="0.14 0 0.32" rpy="0 0 1.57" />          <!-- position robot in the world -->
   </xacro:ur_robot>

  <!--Addition of bracket-->
  <xacro:include filename="$(find call_m_arm_pkg)/urdf/zed_bracket.xacro"/>

  <!-- Call the bracket Xacro with specified arguments -->
  <xacro:zed_bracket
      parent_link="/ur5e/tool0"           
      bracket_x="0.0"                   
      bracket_y="0.0"                  
      bracket_z="0.0"                    
      bracket_roll="0.785"                
      bracket_pitch="0.0"              
      bracket_yaw="0.0" />  
  <!--==================================================-->

   <!--Addition of auxiliary link to correct the orientation of the robotiq adaptor -->
   <link name="auxiliar_bracket_link"/>

   <joint name="auxiliar_bracket_link_to_ur_adaptor" type="fixed">
     <parent link="bracket_link"/>
     <child link="auxiliar_bracket_link"/>
     <origin xyz="0.0 0.007 0" rpy="-0.785 0.0 0."/> <!-- Placeholder transform -->
   </joint> 
   <!-- =================================================-->
 
   <!-- Addition of Robotiq Gripper Adaptor to the bracket frame-->
 
   <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
 
   <xacro:ur_to_robotiq prefix="ur_" parent="auxiliar_bracket_link" child="gripper_link" rotation="1.57"/>       
 
   <!--===================================================-->
 
   <!--Addition of Robotiq Gripper to the end effector-->
   <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
 
   <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="gripper_link" use_fake_hardware="false" sim_ignition="false" include_ros2_control="false">
     <origin xyz="0 0 0" rpy="0.0 0 1.57" />
 </xacro:robotiq_gripper>
   <!--==================================================-->
 

  <!--Multicamera implementation in URDF through the use of their predifined links in the default zed_wrapper launch -->

    <link name="zed_frontal_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.0 0.0 0.0"/>
        </geometry>
        <material name="LightGrey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.0 0.0 0.0"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    </link>

    <joint name="box-zed_frontal_link" type="fixed">
      <origin rpy="0.0 0.0 1.57" xyz="0.0 0.2 0.0"/>
      <parent link="box-link"/>
      <child link="zed_frontal_link"/>
    </joint>

  <!-- Place holder for camera transform using its predifined link-->

  <link name="zed_frontal_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0 0 0"/> <!-- Make it invisible if no visualization is needed -->
        </geometry>
      </visual>
  </link>
  
  <joint name="zed_frontal_to_camera" type="fixed">
      <parent link="zed_frontal_link"/>
      <child link="zed_frontal_camera_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Placeholder transform -->
  </joint> 

  <!-- ================================================================-->


    <link name="zed_rear_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.0 0.0 0.0"/>
        </geometry>
        <material name="LightGrey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.0 0.0 0.0"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    </link>

     <joint name="box-zed_rear_link" type="fixed">
      <origin rpy="0.0 0.0 -1.57" xyz="0.0 -0.2 0.0"/>
      <parent link="box-link"/>
      <child link="zed_rear_link"/>
    </joint>

    <!-- Place holder for camera transform using its predifined link-->


  <link name="zed_rear_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0 0 0"/> <!-- Make it invisible if no visualization is needed -->
        </geometry>
      </visual>
  </link>
  
  <joint name="zed_rear_to_camera" type="fixed">
      <parent link="zed_rear_link"/>
      <child link="zed_rear_camera_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Placeholder transform -->
  </joint> 

    <!-- ================================================================-->

    <!-- Place holder for camera transform using its predifined link-->

  <link name="intel_realsense_link"/>

  <joint name="zed_eef_joint" type="fixed">
    <origin rpy="0 0 1.57" xyz="0.0 0.08 -0.02"/>
    <parent link="bracket_link"/>
    <child link="intel_realsense_link"/>
  </joint>

  <link name="zed_eef_camera_link">
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
          <box size="0 0 0"/> <!-- Make it invisible if no visualization is needed -->
       </geometry>
    </visual>
 </link>
 
 <joint name="zed_eef_to_camera" type="fixed">
    <parent link="intel_realsense_link"/>
    <child link="zed_eef_camera_link"/>
    <origin xyz="0 0 0" rpy="-1.57 0 0"/> <!-- Placeholder transform -->
 </joint> 
    <!-- ================================================================-->

</robot>